*,
*::before,
*::after { box-sizing: border-box; }

:root { --vw: min(500px, 90vw); }

html { font-size: calc(100 * (var(--vw) / 750)); }

body {
  margin: 0;
  font-size: .28em;
}

body > div {
  width: var(--vw);
  margin-left: auto;
  margin-right: auto;
}

svg {
  width: 1em;
  height: 1em;
}

button { font-size: 1em; }
button svg path { fill: #fff; }

#stage {
  --square-size: calc((var(--vw) * .6 - 2px) * .1);
  display: grid;
  grid-template-columns: auto 1fr;
  gap: .28rem .2rem;
  padding-left: .48rem;
  padding-right: .48rem;
  margin-bottom: 1em;
}

main {
  --cols: 10;
  --rows: 20;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(var(--cols), var(--square-size));
  height: calc(var(--rows) * var(--square-size));
  border: 1px solid #444;
}

:where(main, #predict) > div {
  --outline-width: 2px;
  aspect-ratio: 1 / 1;
  background-color: #444;
  outline: var(--outline-width) solid #fff;
  outline-offset: calc(var(--outline-width) * -1 - 2px);
  opacity: .04;
}

:where(main, #predict) > div.show { opacity: 1; }

aside {
  display: grid;
  grid-template:
    '.' auto
    '.' auto
    '.' 1.71em
    'predict' auto
    '.' 1fr
    'switch' auto
    '.' 1.71em;
  justify-items: center;
  align-content: start;
}

#predict {
  grid-area: predict;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  width: 80%;
}

#switch {
  --height: 2.5em;
  grid-area: switch;
  justify-self: stretch;
  height: var(--height);
  border: 0;
  vertical-align: top;
  color: #fff;
  background-repeat: no-repeat;
  background-image: linear-gradient(180deg, hsla(0,0%,100%,.3), transparent);
  background-color: var(--background-color);
  text-shadow: 0 -.05em .05em rgba(0,0,0,.5);
  border-radius: calc(var(--height) / 2);
  outline-color: var(--background-color);
}
#switch.playing { --background-color: rgb(170,85,85); }
#switch.paused { --background-color: rgb(85,170,85); }

#switch > svg { vertical-align: -.2em; }

.control-panel {
  display: flex;
  justify-content: center;
  align-items: end;
  column-gap: 1em;
}

.control-panel button {
  padding: 0;
  border: 0;
  background-repeat: no-repeat;
  background-image: linear-gradient(180deg, hsla(0,0%,100%,.3), transparent);
  background-color: #58a;
  border-radius: 50%;
}

.arrow {
  --button-size: 2.5em;
  --column-gap: 1em;
  display: flex;
  column-gap: var(--column-gap);
  flex-wrap: wrap;
  justify-content: center;
  width: calc(var(--button-size) * 2 + var(--column-gap));
}

.arrow > button {
  width: var(--button-size);
  height: var(--button-size);
}

button[data-code="ArrowUp"] {
  width: 4.5em;
  height: 4.5em;
  border-radius: 50%;
}

button[data-code="ArrowUp"] svg {
  width: 2.5em;
  height: 2.5em;
}
