*,
*::before,
*::after { box-sizing: border-box; }

body { margin: 0; }

#stage {
  --square-size: 16px;
  display: grid;
  grid-template-areas:
    'main aside'
    'main aside'
    'main switch'
    'main arrow';
  gap: 10px;
  width: 100%;
  max-width: 320px;
  padding-left: 24px;
  padding-right: 24px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
}

main {
  --rows: 20;
  --cols: 10;
  grid-area: main;
  justify-self: end;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(var(--cols), var(--square-size));
  grid-template-rows: repeat((var(--rows), var(--square-size)));
  width: calc(var(--cols) * var(--square-size) + 2px);
  height: calc(var(--rows) * var(--square-size) + 2px);
  border: 1px solid #000;
}

main > div { --outline-width: 2px; }

:where(main, #predict) > div {
  width: var(--square-size);
  height: var(--square-size);
  background-color: #000;
  outline: var(--outline-width) solid #fff;
  outline-offset: calc(var(--outline-width) * -1 - 2px);
  opacity: .04;
}

:where(main, #predict) > div.show { opacity: 1; }

aside {
  --size: calc(4 * var(--square-size));
  grid-area: aside;
  display: flex;
  flex-direction: column;
  width: var(--size);
}

#score { align-self: center; }

#predict {
  --square-size: 14px;
  display: grid;
  grid-template-columns: repeat(4,var(--square-size));
  grid-template-rows: repeat(4,var(--square-size));
  /* padding: 4px; */
  place-content: center;
  width: var(--size);
  height: var(--size);
  border: 1px solid #000;
}

#predict > div {
  opacity: 1;
  --outline-width: 1px;
}

#switch {
  align-self: end;
  height: 28px;
  vertical-align: top;
}

#switch > svg { vertical-align: -.1em; }

.arrow {
  grid-area: arrow;
  place-self: end center;
  display: grid;
  place-items: center;
  grid-template-areas:
    '.    up   .'
    'left . right'
    '.   down  .';
  /* grid-template-columns: repeat(3,auto);
      grid-template-rows: repeat(3,auto); */
  width: max-content;
}

.arrow > button {
  width: 24px;
  height: 24px;
  padding: 0;
}